*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}


.container{
    width: 80%;
    margin: 0px auto;
}

header{
    background-color: #750DB5;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    color: #ffffff;
}

.header-wrapper nav{
    display: flex;
    gap: 30px;
}

.header-wrapper nav a{
    color: #ffffff;
}
.header-wrapper > h4 > a:nth-last-of-type(1){
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
}

.banner-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-wrapper h1{
    margin-top: 101px;
    font-size: 48px;
    font-weight: 600;
}

.banner-wrapper p{
    margin: 52px 0px;
    color: #505050;
    line-height: 30px;
}
.banner-wrapper div h1 span{
    color: #750DB5;
    font-weight: 700;
}
.banner-wrapper > div:nth-child(2) > img 
{ 
margin-top: 88px;
width: 564px;
height: 428px;
}
.btn {
    margin-top: 38px;
    display: flex;
    gap: 30px;
}

.btn a:nth-of-type(1) {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #FFB549;
    width: 199px;
    height: 51px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: #ffffff;
    transition: all 0.3s;
}
.btn a:nth-of-type(1):hover{
box-shadow: 0px 4px 20px 0px rgba(255, 181, 73, 1);
}
.btn a:nth-of-type(2){
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
} 

.job-grid-wrapper div:nth-of-type(2){
    display: flex;
    gap: 20px;
}

.job-grid-wrapper h1{
font-size: 35px;
font-weight: 600;
line-height: 42.67px;
margin-top: 136px;
}

.job-grid{
margin-top: 47px;
width: 367px;
height: 307px;
border-radius: 20px;
background: rgba(12, 68, 92, 1);
padding: 84px 18px 33px 18px;
color: rgba(255, 255, 255, 1);
}
.job-grid:nth-of-type(1) {
    background-color:rgba(12, 68, 92, 1);
}
.job-grid:nth-of-type(2) {
    background: rgba(91, 44, 152, 1);
}
.job-grid:nth-of-type(3) {
    background: rgba(127, 50, 25, 1);
}
.job-grid div h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
}
.job-grid > div > p:nth-of-type(1){
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    margin-top: 12px;
  }
  .job-grid > div > p:nth-of-type(2){
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    margin-top: 21px;
  }
  .job-grid > div > div{
    display: flex;
    gap: 21px;
    margin-top: 18px;
  }
  .job-grid > div > div >a:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 35px;
    border-radius: 12px ;
    color: white;
    border: 2px solid rgba(255, 255, 255, 1)
  }
  .job-grid > div > div >p:nth-of-type(1){
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    margin-top: 9.7px ;
  }

  .job-grid:nth-of-type(3) a:nth-of-type(1){
    color: black;
    background: rgba(255, 169, 44, 1);
  }

  footer{
    margin: 84px 0px 82px 0px;
    background: rgba(214, 214, 214, 1);
  }
  .footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-wrapper p{
    padding: 10px 0px;
font-size: 12px;
font-weight: 600;
line-height: 24.38px;
color: rgba(66, 84, 244, 1);

  }